:root {
  --lite-color: #dbeff0;
  --grey: #dbeff086;
  --lite-dark-color: #01292c;
  --dark-color: #08091d;
  --darker: #000111;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  padding: 0 0 100px;
  margin: 0;
  background: linear-gradient(to bottom,
      var(--lite-color),
      var(--lite-dark-color),
      var(--dark-color),
      var(--darker));
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--dark-color);
  font-weight: 500;
  cursor: pointer;
}


.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 120px 120px;
}

.nav a {
  padding: 10px 20px;
  transition: all 0.8s ease-in-out;
}

.nav a:hover {
  border: 1px solid var(--dark-color);
  box-shadow: 0 0 10px rgba(8, 9, 29, 0.5);
  border-radius: 30px;
  font-weight: 700;
}

.body {
  width: 100%;
  text-align: center;
  color: var(--lite-dark-color);
  height: 100vh;
}

.name {
  font-size: 80px;
  font-weight: 600;
  letter-spacing: -1px;
}

.title {
  font-weight: 500;
  margin-top: -10px;
}

.caption {
  margin-top: 40px;
  font-weight: 700;
}

/* Experience  */

.experience {
  text-align: center;
  padding-top: 100px;
}

.experience-text {
  border: 1px solid var(--lite-color);
  padding: 10px 20px;
  border-radius: 25px;
  display: inline;
  color: var(--lite-color);
  align-self: center;
  letter-spacing: 0.5rem;
}

.expo1 {
  margin: 70px 30% 70px 150px;
  text-align: left;
  color: var(--lite-color);
}

.expo-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.exp-intervals {
  display: block;
  color: #dbeff086;
  margin-top: 20px;
}

/* Activities  */

.acti-right {
  margin: 70px 150px 70px 0;
  text-align: left;
  color: var(--lite-color);
  display: flex;
  flex-direction: column;
  align-items: end;
}

.acti-left {
  margin: 70px 150px 70px 150px;
  text-align: left;
  color: var(--lite-color);
  display: flex;
  flex-direction: column;
  align-items: start;
}

.acti-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.start-t {
  background: linear-gradient(to bottom right,
      var(--lite-color),
      var(--lite-dark-color),
      var(--dark-color),
      var(--darker));

  border: 1.5px solid var(--lite-color);
  border-radius: 2px;
  padding: 5px 10px;
  font-weight: 600;
}


.end-t {
  background: linear-gradient(to top left,
      var(--lite-color),
      var(--lite-dark-color),
      var(--dark-color),
      var(--darker));
  font-weight: 600;

  border: 1.5px solid var(--lite-color);
  border-radius: 2px;
  padding: 5px 10px;
}

.linked {
  font-size: 20px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 5px;
  color: #dbeff086;

}



/* Skills */

.skill {
  color: var(--lite-color);
  font-size: 23px;
  border-radius: 5px;
  border: 1px solid var(--lite-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.marquee {
  height: 90px;
  width: 100%;
  margin: 100px 0;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-around;

}

.marquee div {
  position: absolute;
  width: 100%;
  left: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.marquee .marqueeone {
  animation: marquee 20s linear infinite;
}

.marquee .marqueetwo {
  animation: marquee 20s linear 5s infinite;
}

.marquee .marqueethree {
  animation: marquee 20s linear 10s infinite;
}

.marquee .marqueefour {
  animation: marquee 20s linear 15s infinite;
}

.marquee:hover div {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    left: 100%;
  }

  50% {
    left: -100%;
  }

  100% {
    left: -100%
  }
}


/* Projects  */
.project-bg {
  background-image: url(./images/bg-star.png);

}

.projects {
  color: var(--lite-color);
  padding: 100px 120px;
}

.p-col-1 {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.project-card {
  border: 1px solid var(--lite-color);
  width: 40%;
  border-radius: 5px;
  padding: 20px 20px 10px;
}

.project-card h2 {
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, var(--lite-color), var(--grey));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .1rem;
  transition: all .2s;
}

.project-card h2:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.major-p {
  margin: 7px 0;
  text-align: left;
  display: flex;
}

.major-p p {
  margin-right: 10px;
}

.lang {
  display: flex;
  column-gap: 15px;
  color: var(--lite-color);
}

.lang span {
  padding: 2.5px 5px;
  transform: skewX(-25deg);
  background-image: linear-gradient(to right, var(--grey), var(--lite-dark-color));
  font-weight: 400;
}


.about-p {
  display: flex;
  text-align: left;
}


.about-p span {
  text-align: left;
  font-size: 13px;
  font-weight: 300;
  width: 85%;
  color: #dbeff086;
  margin-left: 10px;
  letter-spacing: 1px;
}

.role {
  align-items: center;
  margin-top: 10px;
}

.role-mode {
  padding-left: 20px;
}

.time-logo-wraper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-period {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.time-period div {
  color: var(--grey);
  font-size: 12px;
  margin-left: 5px;
}

.github-logo {
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
}

.www-logo {
  width: 45px;
  cursor: pointer;
}

.no-link {
  cursor: not-allowed;
}

.view-more {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey);
  letter-spacing: 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid var(--dark-color);
  width: 150px;
  margin: 100px auto 0;
  padding: 7px 0px 7px 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 20px rgba(224, 217, 217, 0.1);
}

.view-more img {
  width: 25px;
  margin-bottom: -3px;
  margin-left: 7px;
}

/* Contact me  */

.Contact {
  margin: 100px 120px;
  color: #dbeff0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-sec {
  text-align: left;
  max-width: 40%;
}

.left-sec h2 {
  font-weight: 500;
  font-size: 32px;
}

.left-sec p {
  font-weight: 400;
  font-size: 16px;
  color: var(--grey);
  margin: 15px 0 30px;
}

.insta-logo {
  margin-bottom: -3px;
  /* background-color: red; */
}

.contact-logos img {
  /* width: 50px; */
  margin-right: 10px;
}

.right-sec {
  padding: 20px 0 20px 100px;
  border-left: 1px solid var(--lite-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.r-s-wraper {
  display: flex;
  column-gap: 20px;
}

.r-s-wraper:not(:last-child) {
  margin-bottom: 20px;
}